# Logs
*.log

# Build files
bin/
obj/

# Publish output
out/

# Visual Studio files
.vs/

# Packages
*.nupkg
*.snupkg

# Dependency directories
node_modules/
wwwroot/lib/

# Environment and settings
.env
appsettings.*
appsettings.Development.json
appsettings.Local.json
appsettings.*.json

# Database
*.mdf
*.ldf
Migrations/

# Temporary files
*.tmp
*.temp
*.pid
*.bak
*.swp

# IDE-specific
.vs/
.idea/
*.psess

# Coverage
coverage/

# Docker
docker-compose.override.yml
.dockerignore

# OS-specific files
.DS_Store
Thumbs.db